.brand {
  background: #cbb09c !important;
}

.brand-text {
  color: #cbb09c !important;
}

form {
  padding: 5rem;
}

.galery_container {
  padding: 3rem;
  display: grid;
  grid-gap: 20px 35px;

  grid-template-columns: repeat(3, 1fr);
}
